@media screen and (max-width: 550px) {
    .hide-on-extrasmall {
        display: none !important;
    }
    .citation-image-container {
        display: none;
    }
}
@media screen and (max-width: 800px) and (min-width: 451px) {
    .large {
        display: none !important;
    }
    .hide-on-small {
        display: none !important;
    }
}
@media only screen and (min-width: 1000px) {
    .small {
        display: none !important;
    }
}
@media only screen and (min-width: 500px) {
    .mobile {
        display: none !important;
    }
}