.navbar {
    .active {
        background-color: rgba(0,0,0,0.1);
    }
    .logo {
        width: 40px;
        height: 40px;
        margin-top: 25%;
    }
}

.scrollspy-menu {
    position: fixed;
}

#aboutSocial {
    padding-top: 5rem;
}

@media screen and (max-width: 600px) {
    #domainLinks {
        max-width: 80vw;
    }
}
@media screen and (min-width: 601px) {
    #domainLinks {
        max-width: 50vw;
    }
}
#domainLinks {
    display: block;
    margin: auto;
    .fa-github {
        color: #333;
        &:hover {
            color: rgb(117, 117, 117);
        }
    }
    .fa-gitlab {
        color: #FC6D27;
        &:hover {
            color: rgb(255, 151, 100);
        }
    }
}
.collection-item {
    .collection-item {
        .circle {
            font-size: 2rem !important;
            color: black !important;
            background-color: transparent !important;
        }
    }
    .collection-details {
        padding-top: 2rem;
    }
    .collection-text {
        padding-top: 0.5rem;
        font-weight: 500;
        text-align: left;
    }
}

blockquote {
    text-align: justify;
    font-style: normal;
    /* margin-left:32px; */
    margin: 2rem auto 0 auto !important;
    font-family: "Segoe Print", "Times New Roman", Verdana;
    min-height: 100px;
}
@media screen and (max-width: 550px) {
    blockquote {
        width: 80vw;
    }
}
@media screen and (min-width: 551px) {
    blockquote {
        width: 40vw;
    }
}

.parallax {
    /* The image used */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.90),
            rgba(255, 255, 255, 0.95)),
        url('../images/ewilan_logo.png');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.vertical-centered {
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

@font-face {
    font-family: 'Morpheus';
    src: url(../fonts/morpheus.ttf);
}

.morpheus {
    font-family: 'Morpheus';
}

.navbar-top {
    margin-top: 5rem;
}

.space {
    margin: 5rem 0;
}

.materialize-button {
    text-transform: initial;
}

.not-visible {
    display: none;
}

.citation-image-container {
    height: 5rem;
    width: 5rem;
    .citation-image {
        height: 5rem;
        // width: 100%;
    }
}

/**
*
*   Laravel
*   CSS
*
*/

html, body {
    background-color: #fff;
    color: #090910;
    font-family: 'Muli-Regular', sans-serif;
    font-weight: 800;
    // height: 100vh;
    margin: 0;
}

@media screen and (max-width: 550px) {
    .container {
        margin: 0 auto;
        max-width: auto;
        width: 100%;
    }
}
@media screen and (min-width: 551px) {
    .full-height {
        height: 100vh;
    }
    .container {
        margin: 0 auto;
        max-width: none;
        width: 100%;
    }
    .horizontal-centered {
        width: 80vw;
        margin: 0 auto;
        text-align: center;
        h1 {
            margin: 0;
        }
    }
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}